<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    {% include "/includes/_message.html" %}
    <div class="container">
        <h1>Register</h1>
        <form action="{{url_for('signup_post')}}" method="post">
            <div class="form-groupe">
                <input type="text" name="username" class="form-control" placeholder="username" size="50" required>
            </div>
            <div class="form-groupe">
                <input type="password" id="password" name="password" class="form-control" placeholder="password" size="50" required>
            </div>
            <div class="form-groupe">
                <input type="password" id="confirm" name="confirm" class="form-control" placeholder="confirm password" size="50" required>
            </div>
            <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </form>
    </div>
<script src="static/message.js"></script>
</body>
</html>